<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://wallpaper30.github.io/" target="_blank">
                        🔥 #30DaysWallPapers 🔥
                    </a>
                </li>
                <li>
                    <a href="https://kanpurfoss.org/" target="_blank">
                        Kanpur FOSS
                    </a>
                </li>
                <li>
                    <a href="#about">
                        About Me
                    </a>
                </li>
                <li>
                    <a href="{{site.url}}{{site.baseurl}}/blog">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="{{site.url}}{{site.baseurl}}/photography">
                        My Photography
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="copyright"> Hosted on <a href="https://pages.github.com/" class="text-danger"><b>Github Pages</b></a></div>
    </div>
</footer>