<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://kanpurfoss.org/" target="_blank">
                        What is Kanpur FOSS
                    </a>
                </li>
                <li>
                    <a href="#about">
                        About Me
                    </a>
                </li>
                <li>
                    <a href="{{site.url}}{{site.baseurl}}/blog">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="{{site.url}}{{site.baseurl}}/photography">
                        My Photography
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</footer>