<!DOCTYPE html>
<html lang="en">

<head>

    {%include meta.html%}

</head>

<body class="profile-page sidebar-collapse">

    {% include navbar_home.html %}

    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
          <div class="container" id="particles-js">
                <div class="content-center">
                    <div class="photo-container">
                        <img src="http://github.com/phantom-cluster.png" alt="Profile-Photo" data-toggle="tooltip" data-placement="bottom"
                            title="Hi.. ! Welcome to Phantom Cluster Web" class="img-raised">
                    </div>
                    <h3 class="title" id="name"></h3>
                    <p class="category" style="">Graphic Designer, Web-Developer, Photographer</p>
                    <button class="btn btn-primary btn-round btn-lg " data-toggle="tooltip" data-placement="bottom"
                        title="Follow Me on Github Twitter Instagram"> <i class="now-ui-icons gestures_tap-01"></i>
                        Follow Me</button>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a href="https://github.com/Phantom-Cluster" style="background-color: black;" target="_blank" class="btn btn-default btn-round btn-lg btn-icon"
                        rel="tooltip" title="My Projects are here">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://twitter.com/Phantom_cluster" target="_blank" class="btn btn-info btn-round btn-lg btn-icon"
                        rel="tooltip" title="Tweets are here">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/phantom.cluster/" target="_blank" class="btn btn-danger btn-round btn-lg btn-icon"
                        rel="tooltip" title="Photogaphy skills here">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <br><br>
                <!--Well done Work-->
                <div class="alert alert-success" role="alert" id="about">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons ui-2_like"></i>
                        </div>
                        <strong>Well done!</strong> You have successfully Reached to Phantom Cluster Hub.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <!--well done work ended-->
                <h3 class="title">About me</h3>
                <h5 class="description">Hitanshu is a <b>WordPress Enthusiast</b> and <strong>FOSS Lover 👨‍💻 </strong>.
                    Apart from WordPress, he loves to work on UI/UX, graphics, and little bit of IoT stuff. He is an
                    active member of <b><a href="http://kanpurfoss.org" target="_blank" class="text-info">Kanpur FOSS</a></b> community and a <b
                        style="color: #562d10" rel="tooltip" data-placement="bottom" title="1 Coffee/Day Minimum">Coffeeholic ☕</b>.</h5>
                <div class="row">
                    <!-- progress bar started-->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Adobe Photoshop CC 2018</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 70%;">
                                    <span class="progress-value">70%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Adobe Illustrator CC 2018</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 40%;">
                                    <span class="progress-value">40%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Adobe After effects 2018</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 65%;">
                                    <span class="progress-value">65%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Adobe Premiere Pro 2018</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 70%;">
                                    <span class="progress-value">70%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Adobe Lightroom 2018</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 80%;">
                                    <span class="progress-value">80%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">HTML</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 80%;">
                                    <span class="progress-value">80%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">CSS</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 75%;">
                                    <span class="progress-value">75%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Javascript</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 30%;">
                                    <span class="progress-value">30%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Bootstrap</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 60%;">
                                    <span class="progress-value">60%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- progress bar Ended-->
                </div>
                <h3 class="title"> What else i do ?</h3>
                <h5 class="description"> I am learning and implementing things, also worked as WordPress Web-Developer
                    in Infinity Plus, worked as Technical Worker in DELL Aside from that I do Photoshoot, Graphic
                    designing, and freelancing. Who knows, may be next time I would be the one designing your website
                    :).</h5>

                <!--contact form started-->
                <h3 class="title"> How To Contact </h3>
                <h5 class="description"> Many Ways are available to contact me, its up to you which one you choose.</h5>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class=" text-center">
                            <a href="https://twitter.com/Phantom_cluster" target="_blank" class="btn btn-info btn-round btn-lg btn-icon"
                                rel="tooltip" title="You Can Personally Message here">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/phantom.cluster/" target="_blank" class="btn btn-danger btn-round btn-lg btn-icon"
                                rel="tooltip" title="DM me here">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2"></div>

                </div>
                <!--Contact form ended-->
            </div>
        </div>
        {% include footer.html %}
    </div>
</body>

{% include scripts.html %}

</html>