<!DOCTYPE html>
<html lang="en">

<head>

    {%include meta.html%}

</head>

<body class="profile-page sidebar-collapse">

    {% include navbar_photography.html %}

    <div class="wrapper">
            <div class="page-header page-header-small">
                <div class="page-header-image" data-parallax="true" style="background-image: url('{{site.url}}{{site.baseurl}}/assets/img/photo/p4.jpg');">
                </div>
                <div class="container">
                    <div class="content-center">
                        <h1 class="title">Phantom Cluster's <br> 📷 Photography 📸</h1>
                    </div>
                </div>
            </div>
            <div class="section section-about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Why, Photography Hitansh?</h2>
                            <h5 class="description">Actually, good question. I think photography is a next level creativity where you can capture normal scenes in a very creative manner. And that creativity my dear, kicks my adrenaline to boost up my productivity.</h5>
                            <br><h5 class="text-success" > Secret Exist <span data-toggle="tooltip" data-placement="bottom" title="Lots of Coffee">here</span> of my Imagination</h5>
                        </div>
                    </div>
                    <div class="separator separator-primary"></div>
                    <div class="section-story-overview">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="image-container image-left" style="background-image: url('{{site.url}}{{site.baseurl}}/assets/img/photo/1.jpg')">
                                    <!-- First image on the left side -->
                                    <p class="blockquote blockquote-primary">"$$$ Camera and Kits doesnt define Your Photography, it's only assets which help you to step up Photography Skills on Next Level."
                                        <br>
                                        <br>
                                        <small>- Phantom Cluster </small>
                                    </p>
                                </div>
                                <!-- Second image on the left side of the article -->
                                <div class="image-container" style="background-image: url('{{site.url}}{{site.baseurl}}/assets/img/photo/3.jpg')"></div>
                            </div>
                            <div class="col-md-5">
                                <!-- First image on the right side, above the article -->
                                <div class="image-container image-right" style="background-image: url('{{site.url}}{{site.baseurl}}/assets/img/photo/2.jpg')"></div>
                                <h3>So Which DSLR, Lens and Kit I used ?</h3>
                                <p>Actually I capture all Photos through my Smartphone Moto G5 Plus (Normal Budget Phone With Good Camera) on Mannual and CC on Adobe Lightroom or Photoshop and Quick Edit on Snapseed on Mobile (Only if i'm on Run n Gun Case).
                                </p>
                                <p>
                                    For the Record I started Photography when I found out back in 2011 that I am creative enough to analyze and draw the perspective (in my mind) and visualization a little bit this is what affect me to be more Creative and Good Designer. A simple Rule of Designing I Keep Following till now <strong>More I Design, More I get better.</strong>
                                </p>
                                <p>I started My Journey of Photoshop Back With one of My Friend Photo in 2010 an the first thing I did was use <b>Lasso tool</b> (in Photoshop), Quite typical and I was Complete Noob at that time and this is from where I started to do better, from than to now I have use many tools Like <b>Adobe Photoshop, Adobe Illustrator, Adobe After Effect, Adobe Premiere Pro, Maxon Cinema 4D</b> and I did all my Work on Design work on Core2Duo 2.7 Ghz System Equipped with only 2 GB RAM and 160 GB Hdd till 2015. This PC wasn't capable enough to handle 600 DPI preview so I have to restart My Pc Every time before Exporting File, and this is how my life Started and yes I m Big <B style="color: brown;" data-toggle="tooltip" data-placement="top" title="One Coffee Daily">COFFEE FAN </B>since 17 jul 2017.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-team text-center">
                <div class="container">
                    <h2 class="title">Here is a team</h2>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="team-player">
                                    <img src="{{site.url}}{{site.baseurl}}/assets/img/me.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="max-width:60%">
                                    <h4 class="title">Hitanshu Sahu</h4>
                                    <p class="category text-primary">Graphic Designer</p>
                                    <p class="description">Yes, You Read correct I can help you to provide solution for you Graphics Work Simply go to
                                        <a href="https://twitter.com/Phantom_cluster" target="_blank">Twitter</a> And DM me your Request, You can found me very Active there.</p>
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <img src="{{site.url}}{{site.baseurl}}/assets/img/me1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="max-width:60%">
                                    <h4 class="title">Hitanshu Sahu</h4>
                                    <p class="category text-primary">Web-Developer</p>
                                    <p class="description">Are You Looking to make Your Website at Best Price without Compromising any Quality, Simply Write down a mail to me
                                        <a href="#thisismyemail">phantomcluster17@gmail.com</a> and I Will Respond you to As Soon As Possible (Before 48 Hour for sure).</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <img src="{{site.url}}{{site.baseurl}}/assets/img/me2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="max-width:60%">
                                    <h4 class="title">Hitanshu Sahu</h4>
                                    <p class="category text-primary">Photographer</p>
                                    <p class="description">Looking for Some Product Photography or Photoshoot for your New E-Commerce Website, Count me in. I Can do some Photoshoot + Graphics Design to boost up your Business, you can check my <a href="https://www.instagram.com/phantom.cluster/" target="_blank">Instagram</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-contact-us text-center">
                <div class="container">
                    <h2 class="title">Here are some of my Photography Skills</h2>
                    <p class="description">Look at this once.</p>
                    <div class="section" id="carousel">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-sm-10 col-xs-12">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="18"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="19"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="20"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="21"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="22"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="24"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="25"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="26"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="27"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="28"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p1.jpg" alt="First">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Cloud and Mirror, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p2.jpg" alt="Second">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>A Lake</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p3.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Sunset, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p4.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Sunset, Lucknow</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p5.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Red Chilly, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p6.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Brewed Coffee, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p7.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Sunset Next to Emrald, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p8.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Nightview of Kanpur, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p9.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>7 PM, Lucknow</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p10.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Kanpur Railway Station 6:30 AM, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p11.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>GOing home by BUS, Kanpur-Lucknow</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p12.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>NH way, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p13.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Mansoon from Roof, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p14.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Proper Summer Day 5 PM, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p15.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Ramada Hotel, Kanpur-Lucknow Highway</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p16.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Biryani by Chef Hitansh, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p17.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Sunrise, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p18.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Swags on Laptop, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p19.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Random Walk to CCD, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p20.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Random Walk to CCD, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p21.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Random Walk to CCD, Kanpur</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p22.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Toffee Surprise, CCD</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p23.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Cold Coffee, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p24.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Basmati Rice, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p25.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Americano, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p26.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Chocolate Burst Coffee, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p27.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Urban City, Home</h5>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block" src="{{site.url}}{{site.baseurl}}/assets/img/photo/p28.jpg" alt="Third">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>BnW Shot cappuccino, Home</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
</body>

{% include scripts.html %}

</html>