<!DOCTYPE html>
<html lang="en">

<head>

    {%include meta.html%}

</head>

<body class="profile-page sidebar-collapse">
    <div style="height: 7rem; background-color: rgba(0,0,0,0.75);">
        {% include navbar_pages.html %}
    </div>
    <br>
    <div class="container-fluid">
        <center>
            <a style="color: black;" href="{{page.url}}">
                <div style="margin: 0; font-size: 3vmax"><b>{{page.title}}</b></div>
            </a>
            <div>{{page.date | date: '<span style="font-size: 1.5vmax; letter-spacing: 0.25vmax; text-transform: uppercase; font-family: sans-serif;">%B
                    %d, %Y %A</span>' }}</div>
            <br>
            <div>
                <img style="height: 25vmax;" src="{{page.image}}" alt="{{page.title}}">
            </div>
            <hr>
        </center>
        <div style="font-size: 1.25rem; text-align: justify; padding: 0 1.5vmax">{{page.content}}</div>
    </div>

    <div class="wrapper">
        {% include footer.html %}
    </div>

</body>

{% include scripts.html %}

</html>